@tailwind base;
@tailwind components;
@tailwind utilities;
/*  */

.nav-link, .m-link {
  @apply text-gray-400 tracking-wider text-sm transition-colors duration-500 !important;
}

.nav-link:hover, .m-link:hover {
  @apply text-brand-weak-yellow !important;
}

.text-field {
  /* border-radius: 0; */
  /* border-top-right-radius: 20px !important; */
  /* border-bottom-left-radius: 20px !important; */
  @apply block py-4 px-4 shadow-md rounded-md bg-brand-darker-black border-l-2 border-brand-strong-green;
}

.text-field::placeholder {
  opacity: .5;
}

.text-field:focus {
  /* @apply border border-brand-green outline-none; */
  @apply outline-none;
}

.md-article {
  @apply text-sm tracking-wider;
}

.md-article strong {
  @apply text-xl text-gray-300 !important;
  font-family: 'Rubik', sans-serif !important;
}

.md-article a {
  @apply text-green-600 !important;
  text-decoration: none !important;
}

.md-article img {
  @apply mx-auto !important;
}